<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register to Todo List App</title>
</head>
<body>

<div id="login-form">
  <h2>Login to Todo List</h2>
  <form id="login" action="#" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <label for="passa"> Passwod again: </label>
    <input type="password" id="passa" name="'passa" required><br>
    <button type="submit">Register</button>
  </form>
</div>

</body>
</html>
